//bootstrap
@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
//font-awesome
@import "./bower_components/components-font-awesome/scss/font-awesome";
//owl-slider
@import "./bower_components/owl.carousel/src/scss/owl.carousel.scss";
@import "./bower_components/owl.carousel/src/scss/owl.animate.scss";
@import "./bower_components/owl.carousel/src/scss/owl.theme.default.scss";
@import "./bower_components/owl.carousel/src/scss/theme.scss";
//devices
@import "./bower_components/devices.css/assets/scss/devices.scss";

//app
html, body{
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  background: #FFf;
  font-weight:400;
  a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
  }
  .owl-controls {
    display: none
  }
  .header {
    padding: 3em 0;
    background-image: url(../img/banner3.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    @include clearfix();
    .header-right{
      margin-top: 5em;
      .block{
        padding: 20px 0 20px 110px;
        height: 100px;
        position: relative;
        img{
          position: absolute;
          left: 0;
          top: 0;
          height: 100px;
        }
        h1{
          font-size: 3em;
          color: #ffffff;
          margin: 0;
        }
      }
      p{
        color: #ffffff;
        font-size: 1.6em;
        font-weight: 400;
        margin: 3em 0 1.5em;
      }
      form{
        h2{
          color: #FFFFff;
          padding: 10px 0;
        }
        input,button{
          outline: none!important;
          box-shadow: none!important;
          border: none!important;
          height: 50px;
        }
        input{
          font-size: 1em;
          color: #727272;
        }
        .btn{
          background-color: #98D361;
          color: #FFFFff;
          font-size: 18px;
          font-weight: 400;
        }
        small{
          padding: 10px 0;
          display: inline-block;
          font-size: 1em;
          color: #fff;
        }
      }
    }
    .header-left{
      margin: auto;
      text-align: center;
    }
  }
  .fea-grids{
    padding: 5em 0 4em;
    background: #F8F8F9;
    .container{
      .col-md-6{
        &:last-child{
          h3{
            color: #727272;
            font-size: 2em;
            font-weight: 700;
            line-height: 1.5em;
          }
        }
      }
    }
    .fea-grids-left-grids{
      margin: 1.5em 0;
      .fea-grids-left-grid{
        margin-bottom: 1.3em;
        @include clearfix();
        .fea-grids-left-grid-left{
          float: left;
          width: 10%;
          .fa{
            padding-top: 0.2em;
            color: #b8b8b8;
            font-size: 3.5em;
            text-align: center;
            display: block;
          }
        }
        .fea-grids-left-grid-right{
          h4{
            color: #98D361;
            font-weight: 400;
            font-size: 1.5em;
            margin-bottom: 0.2em;
          }
          p{
            color:#686868;
            font-weight:300;
            font-size:1.2em;
            margin:0;
          }
        }
      }
    }
  }
  .social-icons{
    text-align: center;
    padding: 3em 0 2em;
    ul{
      margin: 0;
      padding: 0;
      @include clearfix();
      li{
        list-style: none;
        display: inline-block;
        margin: 1em;
        span{
          color: #A9AFAF;
          font-size: 2em;
          &:hover{
            color: #c9cfcf;
          }
        }
      }
    }
  }
}